	.footer{   
		text-align: center;    
		bottom: 0px; 
		width: 100%;
	}

	.header{
		text-align:center;
		font-family: 'Open Sans', sans-serif;
	
	}
	
	a:visited{
		color: Red;
	}
	
	a:hover{
		font-weight: bold;
	}
	
	a:active{
		text-decoration: none;
	}