	span.navigationSpace {
		margin-left: 20px;
	}
	
	.footer{ 
		position: fixed;     
		text-align: center;    
		bottom: 0px; 
		width: 100%;
	}

	.header{
		text-align:center;
		font-family: 'Open Sans', sans-serif;
	
	}
	
	@font-face{
		font-family:'Open Sans', sans-serif;
		font-style: normal;
		font-weight: bold;
		src: url('https://fonts.googleapis.com/css?family=Open+Sans');;
	}