	span.navigationSpace {
		margin-left: 20px;
	}
	
	.footer{ 
		position: fixed;     
		text-align: center;    
		bottom: 0px; 
		width: 100%;
	}

	.header{
		text-align:center;
		font-family: 'Open Sans', sans-serif;
	
	}
	
	td.food {
		width: 30%;
		text-align: center;
	}
			
	table.food {
		border:0;
		width:90%;
		align:center;
		margin-left:5%;
	}
	
	td.drinks {
		padding-left: 10px;
		width: 60px;
	}
	
	table.drinks {
		border:0;
		width:15%;
		margin-left:auto;
		margin-right: auto;
	}
	
	
	@font-face{
		font-family:'Open Sans', sans-serif;
		font-style: normal;
		font-weight: bold;
		src: url('https://fonts.googleapis.com/css?family=Open+Sans');;
	}
	
	a:visited{
		color: Red;
	}
	
	a:hover{
		font-weight: bold;
	}
	
	a:active{
		text-decoration: none;
	}