	.center{
		text-align:center;
	}
	
	.tracks{
		margin-left:auto; 
		margin-right:auto;
	}
	
	.cover{
		background-image:url(cover.jpg);
		background-size:200px 200px;
		background-position:center top;
		height: 200px;
		width: 200px;
	}
	
	@font-face{
		font-family:'Open Sans', sans-serif;
		font-style: normal;
		font-weight: bold;
		src: url('https://fonts.googleapis.com/css?family=Open+Sans');;
	}
	
	a{
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
		background-color:#D2FAFF;
	}
	
	tbody{
		background-color: #D2FAFF;
		font-style: italic;
	}
	
	th{
		font-style: normal;
	}