	.footer{   
		text-align: center;    
		bottom: 0px; 
		width: 100%;
	}

	.header{
		text-align:center;
		font-family: 'Open Sans', sans-serif;
	
	}
	
	a:visited{
		color: Red;
	}
	
	a:hover{
		font-weight: bold;
	}
	
	a:active{
		text-decoration: none;
	}
	
	.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

	.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

	.closebtn:hover {
    color: black;
}